<footer class="site-footer">

  <div class="wrapper">
  	<div class="right">
	<a href="mailto:mailto:&#106;&#107;&#110;&#103;&#117;&#121;&#101;&#050;&#064;&#105;&#108;&#108;&#105;&#110;&#111;&#105;&#115;&#046;&#101;&#100;&#117;"><i class="fa fa-envelope fa-2x"></i></a>
  	<a href="https://github.com/data-slinky" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
  	<a href="https://www.linkedin.com/in/john-nguyen-0235a012" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="https://www.facebook.com/john.k.nguyen" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
  	</div>
  	
  	<div class="left">
  	Copyright © 2016 John Nguyen. All rights reserved.
  	</div>
  </div>

</footer>
